    <!-- header start -->
    <header>
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg fixed-top nav-menu bg-dark">
                <a href="" class="navbar-brand text-light text-uppercase">
                    <%= image_tag 'logo.png' %>
                </a>
                <button class="navbar-toggler nav-button" type="button"
                data-toggle="collapse" data-target="#myNavbar">
                <div class="bg-light line1"></div>
                <div class="bg-light line2"></div>
                <div class="bg-light line3"></div>
                </button>
            <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold" id="myNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link m-2 menu-item nav-active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link m-2 menu-item">MISSION</a>
                     </li>
                     <li class="nav-item">
                        <a href="" class="nav-link m-2 menu-item">SERVICE</a>
                     </li>
                     <li class="nav-item">
                         <a href="" class="nav-link m-2 menu-item">OFFICER</a>
                     </li>
                     <li class="nav-item">
                         <a href="" class="nav-link m-2 menu-item">COMPANY</a>
                     </li>
                     <li class="nav-item">
                          <a href="" class="nav-link m-2 menu-item">INFORMATION</a>
                    </li>
                    <li class="nav-item">
                          <a href="" class="nav-link m-2 menu-item">CONTACT</a>
                     </li>
                </ul>
            </div>
            </nav>

            <!-- banner -->
            <div class="text-light text-center">
                <%= image_tag 'work.jpg', class: "company" %>
            </div>

    </header>
    <!-- header end -->

    <!-- mission -->
    <section class="p-5 mission">
            <div class="container-fluid">

             <div class="row text-center">
                 <div class="col-m-4">
                      <h1 class="display-5 mt-5">Mission</h1>
                      <div class="underline mb-4"></div>
                      <p class="small">株式会社CIKSは、企業の経営課題解決を目的とした経営コンサルティング会社です。そのコンセプトは、「企業繁栄のための軍師的役割を果たすこと」であり企業ごとに異なる経営上の問題に優先順位をつけて、各専門家同士が連携し問題解決に挑みます。企業を脅かす「労務」「財務」「法律」に関わる潜在的リスクをディスクローズし、実績のある国家資格者がチームとなって解決して参ります。</p>
                  </div>
             </div>

             <div class="row text-center">
                 <div class="col-m-4">
                      <h1 class="display-5 mt-5">About Us</h1>
                      <div class="underline mb-4"></div>
                      <p class="small">株式会社CIKSは、企業の経営課題解決を目的とした経営コンサルティング会社です。そのコンセプトは、「企業繁栄のための軍師的役割を果たすこと」であり企業ごとに異なる経営上の問題に優先順位をつけて、各専門家同士が連携し問題解決に挑みます。企業を脅かす「労務」「財務」「法律」に関わる潜在的リスクをディスクローズし、実績のある国家資格者がチームとなって解決して参ります。</p>
                  </div>
             </div>

             <div class="row text-center">
                 <div class="col-m-4">
                      <h1 class="display-5 mt-5">Message</h1>
                      <div class="underline mb-4"></div>
                      <p class="small">中小企業を取り巻く環境は、その規模を問わず厳しくなっていく一方です。
                            経営者のビジョンを形にしていくためには、自社で「財務」「労務」「リスクマネジメント」を管理・運用できる体制を築くことが重要になってきます。弊社では経営者の社外ファシリテーターとして、経営ビジョンの実現に向けてあらゆる角度から事業運営をサポートして参ります。</p>
                 </div>
            </div>

        </div>
    </section>
     <!-- mission end -->

     <!-- service -->
     <section class="bg-secondary py-4">
            <div class="container-fluid">
                 <div class="row text-white text-center">
                     <div class="col m-4">
                       <h1 class="display-5 mb-4">SERVICE</h1>
                       <div class="underline mb-4"></div>
                       <p class="small">株式会社CIKSは、お客様のイノベーションを起こすために各分野の専門チームで<br>
                            「時代の変化に対応できる企業づくり」を行います。.</p>
                     </div>
                 </div>
                 <div class="row text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 my-5">
                                <div class="card border-0 card-shadow">
                                  <%= image_tag 'homeservice01.jpg' %>
                                     <div class="card-body">
                                         <h5 class="text-center font-weight-bold p-2">経営</h5>
                                         <a href="#" class="btn text-uppercase font-weight-bold service-button text-light">続きをみる</a>
                                     </div>
                                 </div>
                          </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 my-5">
                          <div class="card border-0 card-shadow">
                                 <%= image_tag 'homeservice02.jpg' %>
                               <div class="card-body">
                                   <h5 class="text-center font-weight-bold p-2">人事・法務</h5>
                                   <a href="#" class="btn p-2 text-uppercase font-weight-bold service-button text-light">続きをみる</a>
                               </div>
                           </div>
                    </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 my-5">
                            <div class="card border-0 card-shadow">
                                <%= image_tag 'homeservice03.jpg' %>
                                <div class="card-body">
                                    <h5 class="text-center font-weight-bold p-2">会計</h5>
                                    <a href="#" class="btn p-2 text-uppercase font-weight-bold service-button text-light">続きをみる</a>
                                 </div>
                            </div>
                        </div>

        </div>
      </div>
    </section>
    <!-- service end -->


    <!-- officer -->
    <section class="py-4">
            <div class="container-fluid">
                 <div class="row text-center">
                     <div class="col m-4">
                       <h1 class="display-4 mb-4">Officer</h1>
                       <div class="underline mb-4"></div>
                     </div>
                 </div>

            <div class="row text-center">
              <div class="col-lg-6 col-md-6 col-sm-4 my-5">
                <div class="card border-0 card-shadow">
                  <hi class="display-1">PICTURE</hi>
                   <div class="card-body">
                     <h5 class="text-uppercase font-weight-light p-2">Management</h5>
                    </div>
                  </div>
               </div>

                    <div class="col-lg-6 col-md-6 col-sm-4 my-5">
                      <div class="card border-0 card-shadow">
                        <hi class="display-1">PICTURE</hi>
                         <div class="card-body">
                           <h5 class="text-uppercase font-weight-light p-2">Management</h5>
                          </div>
                        </div>
                     </div>
                  </div>

        </div>
    </section>
     <!-- officer end -->

     <!-- company -->
    <section class="py-2">
            <div class="container-fluid">
                 <div class="row text-center">
                     <div class="col m-4">
                       <h1 class="display-5 mb-4">COMPANY</h1>
                       <div class="underline mb-4"></div>
                     </div>
                 </div>
                 <table>
                        <tbody>
                        <tr>
                        <th>社名</th>
                        <td>株式会社〇〇</td>
                        </tr>
                        <tr>
                        <th>役員</th>
                        <td>代表取締役：〇〇<br>
                        　取締役：〇〇<br>
                        　取締役：〇〇<br>
                        　取締役：〇〇</td>
                        </tr>
                        <tr>
                        <th>顧問</th>
                        <td>〇〇<br>
                        〇〇</td>
                        </tr>
                        <tr>
                        <th>設立</th>
                        <td>〇〇</td>
                        </tr>
                        <tr>
                        <th>所在地</th>
                        <td>〒000-0001<br class="sp"><span class="c_shozaichi">〇〇</span><br class="sp">〇〇</td>
                        </tr>
                        <tr>
                        <th>TEL</th>
                        <td>000-00000</td>
                        </tr>
                        <tr>
                        <th>関連会社</th>

                        </tr>
                        </tbody>
                        </table>

            </div>
    </section>
